.reviews {
    height: fit-content;
    width: 100%;
    background-color: #def;
    padding-bottom: 60px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


    .wrapper {
        width: 1232px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-weight: 700;
            color: #333;
            font-size: 32px;
            font-family: "Centra Medium";
            text-align: center;
            margin-bottom: 50px;
        }

        .reviewsContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            :nth-child(6) {
                transform: translateY(-70px);
            }
        }

        button {
            font-family: "Centra Bold";
            align-items: center;
            background: #05f;
            border: none;
            border-radius: 85px;
            color: #fff;
            cursor: pointer;
            display: flex;
            display: inline-flex;
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            justify-content: center;
            padding: 7px 40px;
            transition: all 0.2s;

            &:hover {
                filter: opacity(80%);
            }

            svg {
                margin-left: 10px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .reviews {
        padding: 50px 0px;


        .wrapper {
            width: calc(100% - 40px);

            h2 {
                font-size: 28px;
                margin-bottom: 50px;
            }

            .reviewsContainer {
                row-gap: 20px;
                column-gap: 16px;

                :nth-child(6) {
                    transform: translateY(0px);
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .reviews {

        .wrapper {

            h2 {
                font-size: 24px;
                margin-bottom: 50px;

                svg {
                    display: none;
                }
            }

            button {
                margin-top: 45px;
            }
        }
    }
}