@font-face {
    font-family: "Centra No2";
    src: url("/fonts/CentraNo2-Light.otf");
}

@font-face {
    font-family: "Centra Bold";
    src: url("/fonts/CentraNo2-Bold.otf");
}

@font-face {
    font-family: "Centra Medium";
    src: url("/fonts/CentraNo2-Medium.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Centra No2', sans-serif;
}

body {
  font-family: 'Centra No2', sans-serif;
  overflow-x: hidden;
}
