.plans {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    .topContainer {
        width: 1120px;

        h2 {
            font-family: "Centra Medium";
            font-size: 28px;
            font-weight: 700;
            text-align: center;
        }

        .imgContainer {
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .img {
                width: 172px;
                min-height: 52px;
                filter: grayscale(100%);
                transition: filter 0.3s ease;

                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }

    .bottomContainer {
        margin-top: 60px;
        width: 1100px;
        height: 208px;
        background: #111547;
        border-radius: 24px;
        display: flex;
        justify-content: space-around;
        position: relative;

        .background {
            position: absolute;
            left: 90px;
            top: 60px;
        }

        .left {
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 120px;
            top: 70px;

            h2 {
                color: #fff;
                font-size: 30px;
                line-height: 1.4;
                margin-bottom: 7px;
                font-family: "Centra Bold";
            }

            h3 {
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                font-family: "Centra Bold";
            }
        }

        .right {
            position: absolute;
            right: 110px;
            top: 88px;
            z-index: 1;

            a {
                text-decoration: none;

                button {
                    font-family: "Centra Bold";
                    align-items: center;
                    background: #05f;
                    border: none;
                    border-radius: 85px;
                    color: #fff;
                    cursor: pointer;
                    display: flex;
                    display: inline-flex;
                    font-size: 14px;
                    font-weight: 700;
                    height: 48px;
                    justify-content: center;
                    padding: 0 25px;

                    svg {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .middleContainer {
        width: 100%;
        height: fit-content;
        border-radius: 48px;
        margin-top: 10px;
        padding-bottom: 60px;
        padding-top: 40px;
        background: #111547;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-weight: 700;
            color: #fff;
            font-size: 28px;
            font-family: "Centra Medium";
            text-align: center;
            margin-bottom: 40px;
        }

        .planContainer {
            width: 900px;
            height: 860px;
            background-color: #fff;
            border-radius: 24px;
            display: flex;
            flex-direction: column;

            .top {
                height: 80px;
                width: 100%;
                background-color: #f9f9f9;
                display: flex;
                align-items: center;
                color: #333;
                border-top-left-radius: 48px;
                border-top-right-radius: 48px;

                .col1Title {
                    font-size: 24px;
                    font-weight: 700;
                    font-family: "Centra Medium";
                    width: 50%;
                    text-align: center;
                }

                .col2Title {
                    height: 80px;
                    font-size: 14px;
                    font-family: "Centra Medium";
                    font-weight: 590;
                    width: calc(50% / 3);
                    text-align: center;
                    border-right: .5px solid #eee;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;

                    span {
                        background-color: #333;
                        color: #fff;
                        border: 1px solid rgba(51, 51, 51, .5);
                        border-radius: 4px;
                        box-sizing: border-box;
                        font-weight: 700;
                        padding: 2px 4px;
                        font-size: 14px;
                    }
                }

                .col3Title {
                    height: 80px;
                    font-size: 14px;
                    font-family: "Centra Medium";
                    font-weight: 590;
                    width: calc(50% / 3);
                    text-align: center;
                    border-right: .5px solid #eee;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;

                    span {
                        background-color: transparent;
                        color: #333;
                        border: 1px solid rgba(51, 51, 51, .5);
                        border-radius: 4px;
                        box-sizing: border-box;
                        font-weight: 700;
                        padding: 2px 4px;
                        font-size: 14px;
                    }
                }

                .col4Title {
                    height: 80px;
                    font-size: 14px;
                    font-family: "Centra Medium";
                    font-weight: 590;
                    width: calc(50% / 3);
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 6px;

                    span {
                        background-color: #4e52ac;
                        color: #fff;
                        border: 1px solid rgba(51, 51, 51, .5);
                        border-radius: 4px;
                        box-sizing: border-box;
                        font-weight: 700;
                        padding: 2px 4px;
                        font-size: 14px;
                    }
                }
            }

            .bottom {
                height: 80px;
                width: 100%;
                background-color: #f9f9f9;
                display: flex;
                align-items: center;
                color: #333;
                border-bottom-left-radius: 48px;
                border-bottom-right-radius: 48px;

                .col1Title {
                    font-size: 18px;
                    font-weight: 700;
                    font-family: "Centra Medium";
                    width: 50%;
                    text-align: center;
                }

                .col2Title,
                .col3Title,
                .col4Title {
                    height: 80px;
                    width: calc(50% / 3);
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0px;

                    p {
                        font-size: 12px;
                        color: #333;

                        span {
                            font-family: "Centra Medium";
                            font-weight: 900;
                        }
                    }
                }

                .col2Title,
                .col3Title {
                    border-right: .5px solid #eee;
                }
            }
        }

        button {
            margin-top: 2.2rem;
            font-family: "Centra Bold";
            align-items: center;
            background: #05f;
            border: none;
            border-radius: 85px;
            color: #fff;
            cursor: pointer;
            display: flex;
            display: inline-flex;
            font-size: 16px;
            font-weight: 700;
            height: 48px;
            justify-content: center;
            padding: 7px 40px;
            transition: all 0.2s;

            &:hover {
                filter: opacity(80%);
            }

            svg {
                margin-left: 10px;
            }
        }
    }
}

@media(max-width: 1150px) {
    .plans {
        .topContainer {
            width: 100%;

            .imgContainer {
                margin-left: 5%;
                margin-right: 5%;
                width: 90%;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 1.2rem;
            }
        }

        .bottomContainer {
            width: 100%;
            height: 208px;
        }
    }
}

@media(max-width: 900px) {
    .plans {
        .bottomContainer {
            height: 288px;
            display: flex;

            .right {
                left: 120px;
                top: 188px;
            }
        }

        .middleContainer {
            width: 100%;
            height: fit-content;
            border-radius: 0px;

            .planContainer {
                width: 100%;
                height: fit-content;

                .top {

                    .col1Title {
                        font-size: 18px;
                    }

                    .col2Title {
                        height: 80px;
                        font-size: 12px;

                        span {
                            font-size: 12px;
                        }
                    }

                    .col3Title {
                        height: 80px;
                        font-size: 12px;

                        span {
                            font-size: 12px;
                        }
                    }

                    .col4Title {
                        height: 80px;
                        font-size: 12px;

                        span {
                            font-size: 12px;
                        }
                    }
                }

                .bottom {

                    .col1Title {
                        font-size: 14px;
                    }

                    .col2Title,
                    .col3Title,
                    .col4Title {

                        p {
                            font-size: 12px;
                            color: #333;
                        }
                    }

                    .col2Title,
                    .col3Title {
                        border-right: .5px solid #eee;
                    }
                }
            }

            button {
                margin-left: 20px;
                margin-right: 20px;
                width: calc(100vw - 40px);
            }
        }
    }
}

@media(max-width: 700px) {
    .plans {
        .topContainer {
            width: calc(100% - 40px);

            h2 {
                font-size: 24px;
                text-align: left;
            }

            .imgContainer {
                margin-left: 0%;
                margin-right: 0%;
                width: 100%;
                justify-content: flex-start;
                gap: 0.8rem;

                .img {
                    width: 140px;
                }
            }
        }

        .bottomContainer {
            border-radius: 30px;
            height: 258px;
            margin-top: 30px;

            .background {
                position: absolute;
                left: 20px;
                top: 40px;
            }

            .left {
                left: 20px;
                top: 60px;

                h2 {
                    font-size: 21px;
                    line-height: 1.4;
                }

                h3 {
                    font-size: 14px;
                }
            }

            .right {
                left: 20px;
                top: 168px;

                a {

                    button {
                        width: calc(100vw - 40px);
                    }
                }
            }
        }

        .middleContainer {
            align-items: flex-start;

            h2 {
                font-size: 24px;
                text-align: left;
                margin-bottom: 30px;
                padding: 0 20px;
            }

            .planContainer {

                .top {
                    height: 90px;

                    .col2Title,
                    .col3Title,
                    .col4Title {
                        flex-direction: column;
                    }
                }

                .bottom {
                    height: 90px;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .plans {
        .topContainer {

            .imgContainer {
                margin-left: 0%;
                margin-right: 0%;
                width: 100%;
                justify-content: flex-start;
                gap: 0.8rem;

                .img {
                    width: calc(50vw - 32px);
                }
            }
        }

        .middleContainer {
            .planContainer {

                .top {

                    .col1Title {
                        width: 46%;
                    }
                    
                    .col2Title,
                    .col3Title,
                    .col4Title {
                        width: 18%;
                    }
                }

                .bottom {
                    .col1Title {
                        width: 46%;
                    }
                    
                    .col2Title,
                    .col3Title,
                    .col4Title {
                        width: 18%;
                    }
                }
            }
        }
    }
}