.firstContainer {
    background-color: #000;
    width: 100%;
    height: fit-content;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;

        h1 {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 80px;
            text-align: center;
            font-family: "Centra Medium";
        }

        .cardsContainer {
            display: flex;
            justify-content: center;
            gap: 16px;
        }
    }
}

.secondContainer {
    width: 100%;
    background-color: #dbdcf2;
    padding-top: 120px;
    padding-bottom: 90px;
    margin-bottom: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 4px;
        text-align: center;
        color: #333;
        font-family: "Centra Medium";
    }

    p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #333;
    }

    .wrapper {
        display: flex;
        margin-top: 80px;

        .backContainer {
            width: 350px;
            height: auto;

            @media(max-width: 1060px) {
                display: none;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .lines {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media(max-width: 1200px) {
                display: none;
            }

            .circle {
                background-color: #fbe277;
                border: 1px solid #333;
                border-radius: 50%;
                height: 16px;
                width: 16px;
            }

            .h_line {
                height: 1px;
                width: 50px;
                border: 1px dashed #333;
            }

            .v_line {
                width: 100px;
                height: 360px;
                border-top: 1px dashed #333;
                border-left: 1px dashed #333;
                border-bottom: 1px dashed #333;
                border-radius: 30px;
            }
        }

        .doctorsConatiner {
            display: flex;
            flex-direction: column;
            gap: 52px;
            transform: translateX(-30px);

            @media(max-width: 1200px) {
                transform: translateX(0px);
            }

            .row {
                display: flex;
                gap: 36px;
            }
        }
    }
}

@media(max-width: 1000px) {
    .firstContainer {

        .wrapper {

            h1 {
                font-size: 28px;
            }

            .cardsContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 22px;
            }
        }
    }
}

@media(max-width: 700px) {
    .firstContainer {
        padding: 60px 0;

        .wrapper {
            width: 100%;
            padding: 0 20px;
            align-items: flex-start;

            h1 {
                font-size: 24px;
                margin-bottom: 40px;
                text-align: left;
            }

            .cardsContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
        }
    }

    .secondContainer {
        padding: 60px 20px;
        margin-bottom: 40px;
        align-items: flex-start;

        h2 {
            font-size: 24px;
            margin-bottom: 8px;
            text-align: left;
        }

        .wrapper {
            display: flex;
            margin-top: 40px;

            .doctorsConatiner {
                gap: 36px;
            
                .row {
                    display: flex;
                    flex-direction: column;
                    gap: 36px;
                }
            }
        }
    }
}